# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  vmImage: ubuntu-latest

# steps:
# - script: echo Hello, world!
#   displayName: 'Run a one-line script'

# - script: |
#     echo Add other tasks to build, test, and deploy your project.
#     echo See https://aka.ms/yaml
#   displayName: 'Run a multi-line script'

stages:
  - stage: Build
    jobs:
      - job: Build
        steps:
          - script: echo "Build"
          - task: ServiceNow-DevOps-Agent-Artifact-Registration@1
            inputs:
              connectedServiceName: 'dev262946-Jason Speet DevOps Sim-ServiceNow DevOps Service Connection'
              artifactsPayload: |
                {
                  "artifacts": [
                      {
                        "name": "Jason-artifact.war",
                        "version": "1.$(Build.BuildId)",
                        "semanticVersion": "1.$(Build.BuildId).0",
                        "repositoryName": "PL 1 Repo"
                      }
                  ]
                }
  - stage: Test
    jobs:
      - job: Unit_Tests
        steps:
          - script: echo "Unit Tests"
      - job: Checkmarx_Scan
        dependsOn: Unit_Tests
        steps:
          - script: echo "CheckMarx Scan"
  - stage: Deploy
    jobs:
      - job: UAT_Deploy
        steps:
          - script: echo "UAT Deploy"
          - task: ServiceNow-DevOps-Agent-Package-Registration@1
            inputs:
              connectedServiceName: 'dev262946-Jason Speet DevOps Sim-ServiceNow DevOps Service Connection'
              packageName: 'PL1 art package'
              artifactsPayload: |
                {
                    "artifacts": [
                    {
                        "name": "Jason-artifact.war",
                        "repositoryName": "Jason art repo",
                        "version": "1.$(build.buildId)",
                        "currentBuildInfo": "true"
                    }]
                }"

      - job: Production_Deploy
        dependsOn: UAT_Deploy
        steps:
          - script: echo "Production Deploy"


