# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  vmImage: ubuntu-latest

# steps:
# - script: echo Hello, world!
#   displayName: 'Run a one-line script'

# - script: |
#     echo Add other tasks to build, test, and deploy your project.
#     echo See https://aka.ms/yaml
#   displayName: 'Run a multi-line script'

stages:
  - stage: Build
    jobs:
      - job: Build
        steps:
          - script: echo "Build"
          - task: ServiceNow-DevOps-Agent-Artifact-Registration@1
            inputs:
              connectedServiceName: 'dev262946-Jason Speet DevOps Sim-ServiceNow DevOps Service Connection'
              artifactsPayload: |
                {
                  "artifacts": [
                      {
                        "name": "Jason-artifact.war",
                        "version": "1.$(Build.BuildId)",
                        "semanticVersion": "1.$(Build.BuildId).0",
                        "repositoryName": "PL 1 Repo"
                      }
                  ]
                }
  - stage: Test
    jobs:
      - job: Unit_Tests
        steps:
          - script: echo "Unit Tests"
          - task: CmdLine@2
            inputs:
              script: |
                cred=${SN_DEVOPS_USERNAME}:${SN_DEVOPS_PW}
                NOW=$(date +"%Y-%m-%dT%TZ")
                testPayload='{"name":"Test-summary-1.$(Build.BuildId).0","duration":0.0,"passedTests":10,"failedTests":1,"skippedTests":0,"blockedTests":0,"totalTests":11,"startTime":"'$NOW'","finishTime":"'$NOW'","artifacts":[{"name":"Jason-artifact.war","version":"1.$(Build.BuildId)"}]}'
                echo $testPayload
                curl -X POST -H 'Content-Type: application/json' -u $cred  -d $testPayload 'https://dev262946.service-now.com/api/sn_devops/v1/devops/tool/test?toolId=ed25c680c3e292108d0a921ed4013103&testType=User%20Acceptance'

      - job: Checkmarx_Scan
        dependsOn: Unit_Tests
        steps:
          - script: echo "CheckMarx Scan"
          - task: CmdLine@2
            inputs:
              script: |
                cred=${SN_DEVOPS_USERNAME}:${SN_DEVOPS_PW}
                NOW=$(date +"%Y-%m-%dT%TZ")
                testPayload='{"name":"Test-summary-1.$(Build.BuildId).0","duration":0.0,"passedTests":10,"failedTests":1,"skippedTests":0,"blockedTests":0,"totalTests":11,"startTime":"'$NOW'","finishTime":"'$NOW'","artifacts":[{"name":"Jason-artifact.war","version":"1.$(Build.BuildId)"}]}'
                echo $testPayload
                curl -X POST -H 'Content-Type: application/json' -u $cred  -d $testPayload 'https://dev262946.service-now.com/api/sn_devops/v1/devops/tool/test?toolId=234fe1d6c32212108d0a921ed401312f&testType=User%20Acceptance'

  - stage: Deploy
    jobs:
      - job: UAT_Deploy
        steps:
          - script: echo "UAT Deploy"
          - task: ServiceNow-DevOps-Agent-Package-Registration@1
            inputs:
              connectedServiceName: 'dev262946-Jason Speet DevOps Sim-ServiceNow DevOps Service Connection'
              packageName: 'PL1 art package'
              artifactsPayload: |
                {
                    "artifacts": [
                    {
                        "name": "Jason-artifact.war",
                        "repositoryName": "PL 1 Repo",
                        "version": "1.$(build.buildId)",
                        "currentBuildInfo": "true"
                    }]
                }

      - job: Production_Deploy
        dependsOn: UAT_Deploy
        steps:
          - script: echo "Production Deploy"


